<section data-ng-controller="RecordController">

	<div class='main-window ng-hide' ng-show='authentication.user && !apologyUploaded'>
    	<div class='goback-to-record' ng-click="goTo('/launch')"><</div>
        
    	<p class='apology-header'>{{ apologyHeader }}</p>
    	<div style="margin-top: 10px;margin-bottom: 20px;text-align: center;" ng-show='!apologyStarted'><img src="./core/img/log.png" style="width: 60px;" /></div>
		<p class='main-page-text' ng-show='!apologyStarted' style="padding-left: 50px;padding-right: 50px;">Think about who you want to apologize to, then hold the record button and we will guide you through a sensational apology.</p>
		<p class='main-page-subtext' ng-show='!apologyStarted' style="padding-left: 50px;padding-right: 50px;">When finished, choose who you want to recieve your words.</p>

		<p class='apology-title' ng-show='apologyStarted'>{{ apologyTitle }}</p>

		<div class='apology-prbar' ng-show='apologyStarted'>
			<div class='prbar' style='width:{{ prBarWidth }}%'></div>
			<div class='prbar-ghost'></div>
			<p class='time-zero'>0</p>
			<p class='time-remaining' ng-show='!stopRecord'>-{{ apologyTimer }}</p>	
			<p class='time-remaining' ng-show='stopRecord'>-30</p>	
		</div>

		<div class='record-button-cont'>
			<div ng-show='!apologyStarted' ng-click='startApology()' class='record-button'></div>
			<div ng-show='!apologyUploading&&apologyStarted&&!apologyPaused' ng-click='stopRecording()' class='stop-button'></div>
			<div ng-show='apologyUploading' class='apology-uploading'></div>

<!-- 			<div ng-show='apologyStarted&&!apologyPaused' ng-click='pauseMedia()' class='pause-button'>
				<img src="./core/img/pause.png" alt="">
			</div>
			<div ng-show='apologyStarted&&apologyPaused' ng-click='startApology()' class='pause-button'>
				<img src="./core/img/play.png" alt="">
			</div> -->
			
		</div>
		<div class='apology-footer' ng-click="goTo('/radio')" ng-show='!apologyStarted'>
            TUNE INTO APOLOGY.FM <img src="./core/img/phones.png" style="width: 20px;vertical-align: top;" />
        </div>
	</div>
</section>