<section>
    <div class='main-window' style="padding-top: 40px;">

        <div class="goback-to-record" ng-click="player.goTo('apoloinbox')"><span class="arrow">&lt;</span></div>
        <div style="padding-bottom: 35px;padding-top: 10px;text-align: center;">
            <img src="./core/img/Apology.gif" width="250px" />
        </div>
        
        <div class='apology-prbar'>
            <div class='prbar' style='width:{{ player.prBarWidth }}%'></div>
            <div class='prbar-ghost'></div>
            <p class='time-zero'>{{ player.timePlayed | time }}</p>
            <p class='time-remaining'>:30</p>
        </div>   

        <div class='review-button-cont'>
            <div ng-show='player.isPlaying' ng-click='player.pause()' class='pause-button'>
                <img src="./core/img/pause.png" alt="">
            </div>
            <div ng-hide='player.isPlaying' ng-click='player.play()' class='pause-button'>
                <img src="./core/img/play-arrow.png" alt="">
            </div>
        </div>
    </div>
</section>