<section class="" data-ng-controller="AuthenticationController">


    <div class="col-md-12 text-center">
        <div style="text-align: center;" ng-show="loading">Pleas Wait...</div>
        <form name="signupForm" novalidate ng-hide="loading">
            <div class='login-logo login-main-width'>
                <img src="./core/img/logo.gif"></img>
            </div>
            <p class='apology-title'>Login</p>
            <div class='login-input register-input login-main-width'>
                <input type='text' placeholder='username' name='username' ng-model='username' onfocus="this.placeholder = ''" onblur="this.placeholder = 'username'" required></input>
				<input type='password' placeholder='password' name='password' ng-model='password' onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'" required></input>
                <div>
                    {{ error }}
                </div>

            </div>
            <div class='login-buttons login-main-width row'>
                <a ng-click='goTo("/signup")' class="col-xs-6">
                    <img src="./core/img/btn-register.gif">
                </a>
                <a ng-click='signin()' class="col-xs-6">
                    <img src="./core/img/btn-signin.gif">
                </a>
            </div>
        </form>
    </div>


</section>